---
import Github from './icons/brand/Github.astro';
import Astro from './icons/brand/Astro.astro';
---

<footer class="footer">
  <div>© 2026 · <a href="https://github.com/Hestia-23/hestia-23.github.io" aria-label="Source on GitHub"><Github /></a></div>
  <div class="footer-ornament">§</div>
  <div>Built with <Astro /></div>
</footer>
