---
import Github from './icons/brand/Github.astro';
import AstroLogo from './icons/brand/Astro.astro';
import Amphora from './icons/Amphora.astro';
---

<footer class="footer">
  <div>© 2026 · <a href="https://github.com/Hestia-23/hestia-23.github.io" aria-label="Source on GitHub"><Github /></a></div>
  <div class="footer-ornament"><Amphora /></div>
  <div>Built with <a href="https://astro.build/" aria-label="Astro"><AstroLogo /></a></div>
</footer>
